<%= form_for @user, :html => { :class => "form-horizontal user" }  do |f| %>

  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    
  </div>
  <div class="form-group">
        <%= f.label :perfil, :class => 'control-label col-lg-2'  %>
        <div class="col-lg-10">
        <%= image_tag(@user.perfil_url(:thumb)) if @user.perfil? %>
        <%= f.file_field :perfil %>
        </div>
      </div>

  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.email_field :email, :class => 'form-control' %>
    </div>
    </div>

    <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    </div>

    <div class="form-group">
    <%= f.label :fixo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :fixo, :class => 'form-control' %>
    </div>
    </div>

    <div class="form-group">
    <%= f.label :whatsapp, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :whatsapp, :class => 'form-control' %>
    </div>
    </div>


    <div class="form-group">
        <%= f.label :kind, :class => 'control-label col-lg-2' %>
    <div>
        <%= f.select :kind, options_for_select([["Cliente", "cliente"], ["Profissional", "professional"]]),{} %>     
    </div>
    
  </div>

  <div class="form-group">
    <%= f.label :password, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    </div>
    
  </div>
  <div class="form-group">
    <%= f.label "Confirmar senha", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
    </div>
    
  </div>
  <div class="form-group">
    <%= f.label :city_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:city_id, City.all, :id, :name, {}, {class: 'form-control'})%>
    </div>
    
  </div>
  <div class="form-group" id="category_id_form">
    <%= f.label :category_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class: 'form-control'})%>
    </div>
    
  </div>
  
  <div class="form-group">
  
    <div class="col-lg-10">
      <%= f.hidden_field :status, :value => "ativo" %>
    </div>
  
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Criar", :class => 'btn btn-primary' %>
    </div>
  </div>
  
<% end %>

<script type="text/javascript">
<% if @user.kind == "professional"%>
  var user_kind = "professional";
<%else @user.kind == "cliente"%>
  var user_kind = "client";
<%end%>

  
    if (user_kind == 'professional') {
      
      
    } else {
      document.getElementById( 'category_id_form' ).remove();
    }
  

</script>
