
<section class="slider" id="home">
        <div class="container-fluid">
            <div class="row">
                <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="header-backup"></div>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <% var = 0 %>

                        <% @photos.each do |photo| %>
                        
                            <% if var==0 %>

                                <div class="item active">
                                    <%= image_tag(photo.figure_url(:great)) if photo.figure? %>
                                </div>

                                <% var = var+1 %>

                            <% else %>

                                <div class="item">
                                    <%= image_tag(photo.figure_url(:great)) if photo.figure? %>
                                </div>

                            <% end %>

                        <% end %>

                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
                        <span class="fa fa-arrow-circle-left" aria-hidden="true"></span><
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
                        <span class="fa fa-arrow-circle-right " aria-hidden="true"></span>>
                        <span class="sr-only">Posterior</span>
                    </a>
                </div>
            </div>
        </div>
    </section><!-- end of slider section -->
    <!-- service section starts here -->
    <section class="service text-center" id="service">
        <div class="container">
            <div class="row">
                <h2>Atividades</h2>
                <h4>Clique em alguma atividade para visualizar os profissionais</h4>

                <% @categories.each do |c| %>

                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        
                                <%= link_to busca_category_id_path(c.category_id) do %>
                                <%if c.category.foto?%>
                                <%= image_tag(c.category.foto.pic.url, class: "img-thumbnail img-responsive")%>
                                <% else %>
                                <image src="img/empty.png" class="img-responsive img-thumbnail"></image>
                                <% end %>
    
                                <% end %>
                        <h3 style="margin-top: 0px;"><%= c.category.name%></h3>
                        
                    </div>
                </div>
                <% end %>
               
            </div>
        </div>
    </section><!-- end of service section -->
    <!-- team section -->
    <section class="team" id="team">
        <div class="container">
            <div class="row">
                <div class="team-heading text-center">
                    <h2>Profissionais recentes</h2>
                    <h4>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</h4>
                </div>
                <% @users.each do |u|%>  
                <% if u.destaque?%>          
                <%= link_to show_professional_path(u) do%>
                <div class="col-md-2 single-member col-sm-4">
                    <div class="person">
                    <%= image_tag(u.perfil.pic.url, class: "img-responsive") if u.perfil? %>
                        
                    </div>
                    <div class="person-detail">
                        <div class="arrow-bottom"></div>
                        <h3><%=u.name%></h3>
                        <p>Atividade: <%= u.category.name %> </p>
                    </div>
                </div>
                <% end %>
                <%end%>
                <% end %>
                              
        </div>
    </section><!-- end of team section -->

    

    <!-- portifolio section -->
    <section class="about" id="protifolio">
        <div class="container">
            <div class="row">
                <h2>Portifolio</h2>
                <h4> Fotos recentes dos serviços executados pelos profissionais</h4>
                <% @images.each do |i|%>
                <a href="#" data-toggle="modal" data-target="#<%= i.id %>">
                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail clearfix">
                        <div class="about-img">
                            <%= image_tag(i.avatar.url, class: "img-responsive") if i.avatar? %>
                        </div>
                        <div class="about-details">
                            
                            <h3 class="text-center"><%= i.service.description%></h3>
                            <p>
                                Profissional: <%= i.service.user_professional.name%>
                                <br>
                                Cliente: <%= i.service.user_client.name%>
                            </p>
                        </div>
                    </div>
                </div>
                </a>
                 <!-- Modal -->
  <div class="modal fade bs-example-modal-lg" id="<%= i.id%>" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p></p>
          <%= image_tag(i.avatar.url, class: "img-responsive") if i.avatar? %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
      
    </div>
  </div>
                <% end %>

                





                
            </div>
        </div>
    </section><!-- end of protifolio section -->

    <!-- about section -->
    <section class="about text-center" id="about">
        <div class="container">
            <div class="row">
                <h2>Sobre</h2>
                <% if @sobre!=nil %>
                    <h3><p> <%= @sobre.description %> </p></h3>
                <% else %>
                    <h3><p> Cadastre um sobre </p></h3>
                <% end %>
                
                
                
            </div>
        </div>
    </section><!-- end of about section -->
    


    <!-- contact section starts here -->
    <section class="service text-center" id="contact">
        <div class="container">
            <div class="row">
                
                    <div class="contact-heading text-center">
                        <h2>Contato</h2>
                    </div>

                    <div class="col-md-5 contact-info text-left">
                        <h3>Informações de contato</h3>
                        <div class="info-detail">
                            <ul><li><i class="fa fa-map-marker"></i><span>Endereço:</span> 123 Some Street , London, UK, CP 123</li></ul>
                            <ul><li><i class="fa fa-phone"></i><span>Telefone:</span> (032) 987-1235</li></ul>
                            <ul><li><i class="fa fa-fax"></i><span>Fax:</span> (123) 984-1234</li></ul>
                            <ul><li><i class="fa fa-envelope"></i><span>Email:</span> <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="7d14131b123d19121e09120f531e1210">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></li></ul>
                        </div>

                        <%= bootstrap_flash%>
                    </div>

                    <% contato = Contato.new %>
                    
                    <%= form_for(contato) do |f| %>

                    <% if contato.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(contato.errors.count, "error") %> prohibited this contato from being saved:</h2>

                              <ul>
                              <% contato.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                    <% end %>

                    <div class="col-md-6 col-md-offset-1 contact-form">

                        <h3>Digite sua mensagem</h3>

                        <form class="form">

                            <div class="name">
                                
                                <%= f.text_field :name, class: "form-control", placeholder: "Nome" %>
                            </div>

                            <div class="email">
                                
                                <%= f.text_field :email, class: "form-control", placeholder: "Email"  %>
                            </div>

                            <div class="phone">
                                
                                <%= f.text_field :phone, class: "form-control", placeholder: "Telefone"  %>
                            </div>

                            <div class="message">
                                
                                <%= f.text_area :message, class: "form-control", placeholder: "Mensagem"  %>
                            </div>

                            <div class="actions">
                                <%= f.submit 'Enviar', :class => 'submit-btn' %>
                            </div><br>

                        </form>
                    </div>

                    <% end %>

                </div>
            
        </div>
    </section><!-- end of contact section -->