
<div style="padding: 10em 0 6em 0;">
<hr>
<div class="container">
<!-- portifolio section -->
    <section class="about" id="protifolio">
        <div class="container">
            <div class="row">
                <h2><%= @service.description%></h2>
                <h4> Fotos do serviço do cliente: <%= @service.user_client.name%> </h4>
                <% @images.each do |i|%>
                <a href="#" data-toggle="modal" data-target="#<%= i.id %>">
                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail clearfix">
                        <div class="about-img">
                            <%= image_tag(i.avatar.url, class: "img-responsive") if i.avatar? %>
                        </div>
                        
                    </div>
                </div>
                </a>
                 <!-- Modal -->
  <div class="modal fade bs-example-modal-lg" id="<%= i.id%>" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p></p>
          <%= image_tag(i.avatar.url, class: "img-responsive") if i.avatar? %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
      
    </div>
  </div>
                <% end %>

                





                
            </div>
        </div>
    </section><!-- end of protifolio section -->
</div>
<div class="container">
  <h3><span class="glyphicon glyphicon-comment"></span> Comentários</h3>
            
            <% @comments.each do |c|%>  
              <div class="row">
              <div class="col-sm-1" style="margin: 1.5em 0 0 1em ;">
                <%= image_tag(@service.user_client.perfil.thumb.url, class: "img-responsive") if @service.user_client.perfil? %>
                <% if !@service.user_client.perfil?%>
                <image src="../../img/empty.png" height="60px"></image>
                <% end %>
              </div>
              <div class="col-sm-9">
                  <h3>
                    <strong>
                      <%=@service.user_client.name%> - <%= c.created_at.strftime("%d/%m/%Y, %H:%M")%>
                    </strong>
                  </h3>                
                  <h4>
                    <em>
                      <%= c.description%>
                    </em>
                  </h4>
                
              </div>
        </div>
            
            <% end %>
            
            
</div>
</div>