<div style="background: #009999  ; padding: 10em 0 6em 0;">
<div class="container" >
  
	<div class="row">
		  <div class="text-center" >
      
        <center>
        <%= image_tag(@user.perfil.pic.url, class: "img-responsive img-circle") if @user.perfil? %>
        </center>
        <br>
        <h3 style="color: #fff;">
        <strong>Nome:</strong> <%= @user.name%> - <strong>E-mail:</strong> <%= @user.email%> - <strong>Atividade:</strong> <%= @user.category.name%>
        </h3>
      
      </div>
  </div>
  </div>
  </div>
  <div class="container">
  <div class="row">
      <div class="col-sm-7 col-sm-offset-1">
      <h1>Serviços</h1>
      <hr>
      <% @services.each do |s|%>
      <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> <%= s.description%></h4>
                    </div>
                    <div class="panel-body">
                        <h4>
                        Cliente:  <%= s.user_client.name%>
                        </h4>
                        <%= link_to "Mais informações", show_service_path(s), class: "btn btn-primary"%>

                    </div>
                </div>
      </div>
      <% end %>

      </div>
      
            
		
		

        </div>
        <!-- /.row -->		
	
</div>
