<%- model_class = Sobre -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.singularize.titleize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sobres.each do |sobre| %>
      <tr>
        <td><%= link_to sobre.id, sobre_path(sobre) %></td>
        <td><%= sobre.description %></td>
        <td><%=l sobre.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      sobre_path(sobre), :class => 'btn btn-default btn-xs' %>
          <% if policy(:user).updateSobre? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sobre_path(sobre), :class => 'btn btn-default btn-xs' %>
          <%end %>

          <% if policy(:user).destroySobre? %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sobre_path(sobre),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% u=Sobre.all %>
<% if policy(:user).createSobre? and u.size==0 %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_sobre_path,
            :class => 'btn btn-primary' %>
<% end %>

<br>